<!DOCTYPE html>
	<html>
		<head>
			<title>Airbus</title>
		</head>
  		<link rel="stylesheet" href="index.css">
		<body>
			<nav class="sidenav">
  <ul class="side-nav-list">
    <li><input placeholder="Look for your craft..." class="search-craft"/></li>
    <li class="side-nav-list-item">
      A320
    </li>
    <li class="side-nav-list-item">
      A330
    </li>
    <li class="side-nav-list-item">
      A350
    </li>
  </ul>
</nav>
<main>
  <div clas="content">
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">
    
    </div>
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">

    </div>
    <div class="aircraft-content">

      </div>
      <div class="aircraft-content">
  
      </div>
      <div class="aircraft-content">
  
      </div>
      <div class="aircraft-content">
      
      </div>
      <div class="aircraft-content">
  
      </div>
      <div class="aircraft-content">
  
      </div>
      <div class="aircraft-content">
  
      </div>
      <div class="aircraft-content">

        </div>
        <div class="aircraft-content">
    
        </div>
        <div class="aircraft-content">
    
        </div>
        <div class="aircraft-content">
        
        </div>
        <div class="aircraft-content">
    
        </div>
        <div class="aircraft-content">
    
        </div>
        <div class="aircraft-content">
    
        </div>
        <div class="aircraft-content">

          </div>
          <div class="aircraft-content">
      
          </div>
          <div class="aircraft-content">
      
          </div>
          <div class="aircraft-content">
          
          </div>
          <div class="aircraft-content">
      
          </div>
          <div class="aircraft-content">
      
          </div>
          <div class="aircraft-content">
      
          </div>
                
  </div>
</main>
		</body>
	</html>
